<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-12 hidden-lg-up">
      <p class="text-center">
        <button class="btn btn-primary" (click)="ShowMusicForm()">
          {{ 'Setlist.AddMusic' | translate }}
        </button>
        <button class="btn btn-primary" (click)="ShowMusics()">
          {{ 'Setlist.Musics' | translate }}
        </button>
      </p>
    </div>
    <div class="col-lg-6" [ngClass]="{'hidden-md-down': showMusicForm}">
      <app-music-form
        [music]="music"
        (createOrUpdateMusic)="createOrUpdateMusic($event)"
      ></app-music-form>
    </div>
    <div class="col-lg-6" [ngClass]="{'hidden-md-down': showMusics}">
      <app-music-list
        [musics]="musics"
        (musicEdit)="editMusic($event)"
        (musicDelete)="deleteMusic($event)"
      ></app-music-list>
    </div>
  </div>
</div>
