<div class="container">
  <div class="row ustify-content-lg-center">
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="ShowMusicForm()">
        {{ 'Setlist.AddMusic' | translate }}
      </button>
      <button class="btn btn-primary" (click)="ShowMusics()">
        {{ 'Setlist.Musics' | translate }}
      </button>
    </div>
    <div *ngIf="showMusicForm" class="col-lg-5">
      <app-music-form
        [music]="music"
        (createOrUpdateMusic)="createOrUpdateMusic($event)"
      ></app-music-form>
    </div>
    <div *ngIf="showMusics" class="col-lg-5">
      <app-music-list
        [musics]="musics"
        (musicEdit)="editMusic($event)"
      ></app-music-list>
    </div>
  </div>
</div>
