<div class="music-form">
  <form [formGroup]="musicForm">
    <div class="form-group">
      <input
          type="text"
          class="form-control"
          placeholder="{{ 'Shared.Placeholder.Artist' | translate }}"
          formControlName="artist">
    </div>
    <div class="form-group">
      <input
          type="text"
          class="form-control"
          placeholder="{{ 'Shared.Placeholder.Name' | translate }}"
          formControlName="name">
    </div>
    <div class="form-group">
      <input
          type="text"
          class="form-control"
          placeholder="{{ 'Shared.Placeholder.Tone' | translate }}"
          formControlName="tone">
    </div>
    <div class="form-group">
      <input
          type="text"
          class="form-control"
          placeholder="{{ 'Shared.Placeholder.Label' | translate }}"
          formControlName="label">
    </div>
    <div class="form-group">
      <textarea
          class="form-control"
          placeholder="{{ 'Shared.Placeholder.Lyrics' | translate }}"
          formControlName="lyrics">
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Default.Save' | translate }}</button>
  </form>
</div>
