<div class="container">
  <div class="row">
    <div class="col-lg-4" *ngFor="let member of members?.results" >
      <div class="card">
        <img class="card-img-top avatar" src="{{member.picture.medium}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">
            {{ member.name.title}} {{ member.name.first}} {{ member.name.last}}
          </h4>
          <p class="card-text">
            Email: {{ member.email}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
